    .my-container {
  border: 5px solid green;
}
.my-row {
  border: 3px solid red;

}
.my-col {
  border: 3px dotted blue;
}    

.main {
 /*  padding: 16px;
  margin-top: 40px; */
  background-color: whitesmoke;
  /* height: 1500px; */
}

